.carousel-inner {
    max-height: 91vh;
}

#productHeading {
    color: rebeccapurple;
}

.product-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    overflow: auto;
    max-height: 1600px;
}

.product-item {
    flex-basis: 20%;
}

.product-item:hover {
    background-color: rebeccapurple;
    cursor: pointer;
}

.product-item:hover h5 {
    font-weight: bold;
}

.add-to-cart-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-to-cart-div input {
    width: 25%;
}

.add-to-cart-div * {
    margin: 2px;
}

.product>* {
    color: rebeccapurple;
}
.product:hover > * {
    color: white;
}

.footer {
    margin-top: 20px;
}

.login-container{
    display: flex;
    justify-content: center;
}

.login {
    width: 30%;
}

@media (max-width: 1000px) {
    .product-item {
        flex-basis: 30%;
    }
}

@media (max-width: 700px) {
    .container {
        margin: 0px;
        padding: 0px;
    }
    .product-item {
        flex-basis: 45%;
    }
}

@media (max-width: 400px) {
    .product-item {
        flex-basis: 100%;
    }
}